@font-face {
    font-family: 'GT Walsheim';
    src: url('./GT-Walsheim-Regular-subset.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('./GT-Walsheim-Medium-subset.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('./GT-Walsheim-Bold-subset.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('./GT-Walsheim-Black-subset.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}